/SimRun_ALIGNED_L_gnr_mean_vs_apex_angle_vs_L_gap_20260310_211833/00_Optimal_Convergence_50k
/SimRun_ALIGNED_L_gnr_mean_vs_apex_angle_vs_L_gap_20260310_211833
/SimRun_ALIGNED_L_gnr_mean_vs_apex_angle_vs_L_gap_20260312_144449/00_Optimal_Convergence_50k
/SimRun_ALIGNED_L_gnr_mean_vs_apex_angle_vs_L_gap_20260312_144449
